// Media Query

@mixin device($device) {
  @if $device == tablet {
    @media (min-width: 700px) {
      @content;
    }
  }  
  @else if $device == desktop {
    @media (min-width: 75rem) {
      @content;
    }
  }
}

//Theme

//Light
$color-1: #0079FF;
$color-2: #697C9A;
$color-3: #4B6A9B;
$color-4: #2B3442;
$neutral-color-1: #FEFEFE;
$neutral-color-2: #F6F8FF;
$neutral-color-3: #FFFFFF;

//Dark
$color-1-d: #FFFFFF;
$color-2-d: #0079FF;
$neutral-color-1-d: #1E2A47;
$neutral-color-2-d: #141D2F;



html[data-theme="light"] {
--color-1: #{$color-1};
--color-2: #{$color-2};
--color-3: #{$color-3};
--color-4: #{$color-4};
--neutral-color-1: #{$neutral-color-1};
--neutral-color-2: #{$neutral-color-2};
--neutral-color-3: #{$neutral-color-3};
}
    
html[data-theme="dark"] {
--color-1: #{$color-1-d};
--color-2: #{$color-2-d};
--neutral-color-1: #{$neutral-color-1-d};
--neutral-color-2: #{$neutral-color-2-d};
}




//Typography
$fonts: (
  "$small": 0.8125rem,
);


// Utility Classes
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}