@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './utils/utilities';


// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button, fieldset {
  border: none;
}

body {
  min-height: 100vh;
  font-family: "Space Mono", monospace;
  background-color: var(--neutral-color-2);
  color: var(--color-3);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 24px 0 24px;
  margin-bottom: 36px;
  h1 {
    color: var(--color-5);
  }
  @include device(tablet) {
    max-width: 573px;
    margin: 0 auto 36px auto;
  }
  @include device(desktop) {
    max-width: 730px;
  }
}

.header__theme {
  display: flex;
  align-items: center;
  gap: 16px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: map-get($fonts , "$small");
  cursor: pointer;
  color: var(--color-3);
}

.container__main {
  padding: 0 24px;
  @include device(tablet) {
    max-width: 573px;
    margin: 0 auto;
  }
  @include device(desktop) {
    max-width: 730px;
  }

}

.form-bg {
  background-color: var(--neutral-color-3);
  padding: 6.5px 7px 7.5px 16px;
  margin-bottom: 16px;
  border-radius: 15px;
  position: relative;
  @include device(tablet) {
    box-shadow: 0px 16px 30px -10px rgba($color: #4660BB, $alpha: 0.25);
  }
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__img {
  margin-right: 8.5px;
  max-width: 20px;
}

input[type="search"]:-webkit-autofill,
input[type="search"]:-webkit-autofill:hover,
input[type="search"]:-webkit-autofill:focus,
input[type="search"]:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px #FFFFFF inset !important;
    -webkit-text-fill-color: #333 !important; /* Cor do texto */
}

:root[data-theme='dark'] input[type="search"]:-webkit-autofill,
:root[data-theme='dark'] input[type="search"]:-webkit-autofill:hover,
:root[data-theme='dark'] input[type="search"]:-webkit-autofill:focus,
:root[data-theme='dark'] input[type="search"]:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px var(--neutral-color-3) inset !important;
    -webkit-text-fill-color: #FFFFFF !important; /* Cor do texto */
}


input[type="search"] {
  outline: none;
  border: none;
  flex: 1;
  background-color: transparent !important;
}

input[type="search"]::placeholder {
  font-size: map-get($fonts , "$small");
  letter-spacing: -0.5px;
  color: var(--color-3);
}


.form__btn {
  background-color: #0079FF;
  color: $neutral-color-3;
  padding: 12.5px 16px;
  border-radius: 10px;
  font-size: map-get($fonts , "$small1");
  font-weight: 700;
  &:hover {
    background-color: #60ABFF;
    cursor: pointer;
  }
}

.form__error {
  color: #F74646;
  font-size: map-get($fonts , "$small2");
  font-weight: 700;
  display: none;
  @include device(tablet) {
    position: absolute;
    right: 114px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.main__github-result {
  background-color: var(--neutral-color-3);
  border-radius: 15px;
  display: none;
  flex-direction: column;
  padding: 32px 24px 48px 24px;
  @include device(desktop) {
    padding: 48px;
  }
}

.profile__intro {
  display: flex;
  align-items: center;
  gap: 19.5px;
  margin-bottom: 33px;
  @include device(tablet) {
    gap: 41px;
    margin-bottom: 24px;
  }
}

.profile__info {
  h2 {
    font-size: map-get($fonts , "$medium");
    @include device(tablet) {
    font-size: map-get($fonts , "$medium3");
    }
  }
  .profile__username {
    color: $color-1
  }
  @include device(desktop) {
    display: flex;
    align-items: baseline;
    gap: 70px;
  }
}

.profile__avatar {
  max-width: 70px;
  border-radius: 50%;
  @include device(tablet) {
    max-width: 117px;
  }
}

.profile__bio {
  font-size: map-get($fonts , "$small");
  margin-bottom: 24px;
  @include device(tablet) {
    margin-bottom: 32px;
   font-size: map-get($fonts , "$small2");
  }
}

.profile__numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  padding: 18px 14px;
  font-size: map-get($fonts , "$xsmall");
  background-color: var(--neutral-color-2);
  border-radius: 10px;
  margin-bottom: 24px;
  @include device(tablet) {
    margin-bottom: 30px;
    font-size: map-get($fonts , "$small");
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    p {
      color: var(--color-4);
      font-weight: 700;
      @include device(tablet) {
        font-size: map-get($fonts , "$medium2");
      }
    }
  }
}


.profile__social {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include device(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 19px 65px;
  }
  @include device(desktop) {
    gap: 19px 62px;
  }
  
}

.social__item {
  display: flex;
  align-items: center;
  gap: 19.25px;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.bio__text,
.profile__numbers,
.profile__social {
  @include device(desktop) {
    margin-left: 148px;
  }
}
