@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html[data-theme=light] {
  --color-1: #0079FF;
  --color-2: #697C9A;
  --color-3: #4B6A9B;
  --color-4: #2B3442;
  --neutral-color-1: #FEFEFE;
  --neutral-color-2: #F6F8FF;
  --neutral-color-3: #FFFFFF;
}

html[data-theme=dark] {
  --color-1: #FFFFFF;
  --color-2: #0079FF;
  --neutral-color-1: #1E2A47;
  --neutral-color-2: #141D2F;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button, fieldset {
  border: none;
}

body {
  min-height: 100vh;
  font-family: "Space Mono", monospace;
  background-color: var(--neutral-color-2);
  color: var(--color-3);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 24px 0 24px;
  margin-bottom: 36px;
}
@media (min-width: 700px) {
  .header {
    max-width: 573px;
    margin: 0 auto 36px auto;
  }
}
@media (min-width: 75rem) {
  .header {
    max-width: 730px;
  }
}

.header__theme {
  display: flex;
  align-items: center;
  gap: 16px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}

.container__main {
  padding: 0 24px;
}
@media (min-width: 700px) {
  .container__main {
    max-width: 573px;
    margin: 0 auto;
  }
}
@media (min-width: 75rem) {
  .container__main {
    max-width: 730px;
  }
}

.form-bg {
  background-color: var(--neutral-color-3);
  padding: 6.5px 7px 7.5px 16px;
  margin-bottom: 16px;
  position: relative;
}
@media (min-width: 700px) {
  .form-bg {
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.25);
  }
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__img {
  margin-right: 8.5px;
  max-width: 20px;
}

input[type=search] {
  outline: none;
  border: none;
  flex: 1;
}

input[type=search]::placeholder {
  font-size: 13px;
  letter-spacing: -0.5px;
  color: var(--color-3);
}

.form__btn {
  background-color: var(--color-1);
  color: #FFFFFF;
  padding: 12.5px 16px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
}
.form__btn:hover {
  background-color: #60ABFF;
  cursor: pointer;
}

.form__error {
  color: #F74646;
  font-size: 15px;
  font-weight: 700;
  display: none;
}
@media (min-width: 700px) {
  .form__error {
    position: absolute;
    right: 114px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.main__github-result {
  background-color: var(--neutral-color-3);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 48px 24px;
}
@media (min-width: 75rem) {
  .main__github-result {
    padding: 48px;
  }
}

.profile__intro {
  display: flex;
  align-items: center;
  gap: 19.5px;
  margin-bottom: 33px;
}
@media (min-width: 700px) {
  .profile__intro {
    gap: 41px;
    margin-bottom: 24px;
  }
}

.profile__info h2 {
  font-size: 16px;
}
@media (min-width: 700px) {
  .profile__info h2 {
    font-size: 26px;
  }
}
.profile__info .profile__username {
  color: var(--color-1);
}
@media (min-width: 75rem) {
  .profile__info {
    display: flex;
    align-items: baseline;
    gap: 70px;
  }
}

.profile__avatar {
  max-width: 70px;
  border-radius: 50%;
}
@media (min-width: 700px) {
  .profile__avatar {
    max-width: 117px;
  }
}

.profile__bio {
  font-size: 13px;
  margin-bottom: 24px;
}
@media (min-width: 700px) {
  .profile__bio {
    margin-bottom: 32px;
    font-size: 15px;
  }
}

.profile__numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  padding: 18px 14px;
  font-size: 11px;
  background-color: var(--neutral-color-2);
  border-radius: 10px;
  margin-bottom: 24px;
}
@media (min-width: 700px) {
  .profile__numbers {
    margin-bottom: 30px;
    font-size: 13px;
  }
}
.profile__numbers .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.profile__numbers .container p {
  color: #2B3442;
  font-weight: 700;
}
@media (min-width: 700px) {
  .profile__numbers .container p {
    font-size: 22px;
  }
}

.profile__social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 700px) {
  .profile__social {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 19px 65px;
  }
}
@media (min-width: 75rem) {
  .profile__social {
    gap: 19px 62px;
  }
}

.social__item {
  display: flex;
  align-items: center;
  gap: 19.25px;
  cursor: pointer;
}
.social__item:hover {
  text-decoration: underline;
}

@media (min-width: 75rem) {
  .bio__text,
  .profile__numbers,
  .profile__social {
    margin-left: 148px;
  }
}/*# sourceMappingURL=styles.css.map */